{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "printWidth": 160,
  "useTabs": false
}
