.terraform-container {
  width: 100%;
  
  pre {
    margin: 0px;
    width: 100%;
  }
}

.bold {
  font-weight: bold;
}

.black {
  color: black;
}

.red {
  color: #dd4124;
  font-size: large;
  font-weight: bold;
}

.green {
  color: #88b04b;
  font-size: large;
}

.yellow {
  color: #efc050;
  font-size: large;
}

.blue {
  color: #34568b;
}

.magenta {
  color: #d65076;
}

.cyan {
  color: #45b8ac;
}

.white {
  color: white;
}

.grey {
  color: grey;
}
